.header_band {
    background: #0610c5;
    height: 15vh;
}

.header_band_box {
    margin: 0 auto;
    padding: 10px 15px;
    max-width: 1230px;
}

.header_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
}

.header_comp-logo {
    color: #cace09;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

.header_tool {
    width: 33%;
    margin-top: 20px;

}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link {
    color: #cace09;
    text-decoration: none;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #cace09;
    font-size: 16px;
    cursor: pointer;
}

.footer {
    background: #0610c5;
    margin-top: auto;
}

.container_box {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer__logo {
    color: #cace09;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}