@media screen and (min-width: 769px) {
.detail_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
}
}

.detail_container {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000001a;
    margin: 20px auto;
    width: 90%;
}


@media screen and (min-width: 769px) {
.detail_shop-info, .detail_reservation {
    width: 48%;
}
}

.detail_shop-info img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.detail_shop-info p {
    font-size: 16px;
    color: #333;
}

.detail_reservation {
    background-color:blue;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detail_reservation h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.detail_rese-input {
    margin-bottom: 20px;
}

.detail_rese-input label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.detail_rese-input input,
.detail_rese-input select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.form__error {
    color: red;
    font-size: 14px;
}

.detail_rese-button{
    width: 100%;
    padding: 10px;
    background-color:rgb(66, 34, 190);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.detail_rese-button:hover {
    background-color: #003d7a;
}
