/* email_form.css */
.email_container {
    text-align: center;
    margin-bottom: 20px;
}

.email_head-tittle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.email_contents {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.email_tittle {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.email_subject,
.email_message {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

.email_message  {
    height: 150px;
    resize: vertical;
}

.email_button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.email_button {
    background-color: #0056b3;
}
