.hamburger-menu {
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
    margin-right: 20px;
}

.menu-btn {
    position: relative;
    top: 10px;
    left: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: blue;
    position: absolute;
    transition: all 300ms 0s ease;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

#menu-btn-check {
    display: none;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(
        255,
        255,
        255,
        0
    ); /* メニューオープン時は真ん中の線を透明にする */
    transition: all 300ms 0s ease;
}

#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    background-color: blue;
    transition: all 300ms 0s ease;
}

#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: blue;
    transition: all 300ms 0s ease;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    top: -100%;
    z-index: 80;
    background-color: white;
    color: #222;
    transition: all 500ms 0s ease;
}

#menu-btn-check:checked ~ .menu-content {
    top: 0; /* メニューを画面内へ */
}

.menu-content ul {
    padding: 70px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-content ul li {
    /* border-bottom: solid 1px #ccc; */
    list-style: none;
    width: 100%;
    text-align: center;
    margin-top:20px;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    padding: 15px 15px 15px 0;
    position: relative;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ccc;
    border-right: solid 2px #ccc;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.menu-content_button {
    border: none;
    background: transparent;
    color: blue;
    font-size:  25px;
    cursor: pointer;
}
