.my_main {
    background-color: #f8f9fa;
}

.my_container {
    margin-top: 30px;
    margin: 20px auto;
    width: 90%;
}
@media screen and (min-width: 769px) {
.my_content { /* 修正ポイント */
    display: flex;
    justify-content: space-between;
}

.my_reservatiion {
    width: 30%;
}

.my_favorites { /* 修正ポイント */
    width: 65%;
}
}


.my_rese_card {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} */

.my_rese_card-body {
    background-color: #ffffff;
    padding: 20px;
}

.my_rese_card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.my_rese_card-text {
    font-size: 1rem;
}

.my_rese_card-btn {
    float: right;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.my_favo_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.my_favo_card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.my_favo_card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.my_favo_btn-content {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: blue;
    border-radius: 5px;
}

.my_favo_heart-icon {
    width: 35px;
    height: 35px;
}

@media screen and (max-width: 768px) {
    .my_favo_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 20px;
}

}

