/* body {
    background-color: #f8f9fa;
} */

/* .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} */


.my-container {
    margin-top: 30px;
}

.my-content { /* 修正ポイント */
    display: flex;
    justify-content: space-between;
}

.my-reservations {
    width: 30%;
}

.my-rese_card {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.881);
}

.my-rese_card-body {
    background-color: #97b9ee;
    padding: 20px;
}


.my-rese_card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.my-rese_card-text {
    font-size: 1rem;
}

.my-rese_btn-del {
    float: right;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.my-favorites { /* 修正ポイント */
    width: 65%;
}


.my-favo_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.my-favo_card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.my-favo_card-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.my-favo_btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: blue;
    border-radius: 5px;
}

.my-favo_heart-icon {
    width: 35px;
    height: 35px;
}








.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.shop-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.shop-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: blue;
    border-radius: 5px;
}

.heart-icon {
    width: 35px;
    height: 35px;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


