/* public/css/app.css */
body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 30px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    background-color: #ffffff;
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

/* .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
} */
.card-btn-del {
    float: right;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
}
/*以下新フォーム*/

grid-container {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.shop-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.shop-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: blue;
    border-radius: 5px;
}

.heart-icon {
    width: 35px;
    height: 35px;
}