.rese_qrcode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rese_url {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    text-align: center;
}